# Large files and archives
*.tar.gz
*.tar.bz2
*.zip
*.7z
*.rar

# Datasets
**/data/
**/dataset/
*.csv
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
